body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
        background-color: yellow;
        background: url('../img/auto.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    }

header
.ratai {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 22px;
    text-decoration: none;
    background-color: pink;
    border: 2px solid white;
    font-size: 20px;
    line-height: 20px;
    color: rgb(213, 49, 49);
    margin-top: 3px;
    margin-left: 100px;
    float: none;
}
.vairas {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 22px;
    text-decoration: none;
    background-color: gold;
    border: 2px solid white;
    font-size: 20px;
    line-height: 20px;
    margin-top: 3px;
    margin-left: 430px;
    float: none
}

div>img {
    width: 20%;
    float: right;
    margin-right: 30px;
    margin-top: 0px;
}

main>h1 {
    margin-top: 10px;
    margin-left: 200px;
    color: blueviolet;
}

main>h2 {
    margin-left: 200px;
    color: aqua;
}

main>p {
    color: white;
    margin-left: 200px;
}
.clock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    color: green;
    width: 30px;
    text-align: center;
    margin-left: 400px;
}
* {
    position: static;
}
.mouse {
    font-size: 10px;
    width: 10em;
    height: 10em;
    border: 1em solid rgb(214, 22, 22);
    border-radius: 5em;
    position: relative;
}
.mouse::before {
    content: '';
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 1em;
    height: 1.7em;
    background-color: red;
    border-radius: 0.5em;
    animation: pav;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;

}
@keyframes pav {
    0% {
        top: 15%;
        transform: rotate(0deg);
    }
    100% {
        top: 75%;
        transform: rotate(360deg);
    }
}

footer div> {
    margin-top: 300px;
    float: none;
    margin-left: 100px;
    color: green;
}

.divas {
    display: inline-block;
    margin-left: 100px;
}

a {
    color: green;
    text-decoration: none;
}

.pirk {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 22px;
    text-decoration: none;
    background-color: gray;
    border: 2px solid white;
    margin-left: 100px;
    font-size: 20px;
    line-height: 20px;
    color: green;
    position: fixed;
    bottom: 7px;
}
.nuomok {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 22px;
    text-decoration: none;
    background-color: rgb(103, 32, 32);
    border: 2px solid white;
    margin-left: 200px;
    font-size: 20px;
    line-height: 20px;
    color: green;
    position: fixed;
    bottom: 7px;  
}